body {
    background-color: #f7f7f7;
    font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

.avatar {
    margin-top: 25px;
    border-radius: 50%;
    width:200px; 
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
}

.avatar:hover {
    opacity: 0.8;
}

.font-style {
    font-family: Quantico, Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

.font-white {
    color: white;
}

.background-style {
    background: rgb(69, 183, 199);
}

.menu-nav a {
    color: black;
}

.menu-nav a:hover {
  background-color: darkturquoise;
  color: white;
}

.section {
    text-align: center;
    min-height: 200px;
    padding:0 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
}

.section2 {
    min-height: 100px;
}

.section-title {
    padding: 20px 0;
    background-image: url("pics/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text-title {
    font-size:50px;
}

#write-text {
    font-size:25px;
}

.section-form {
    padding: 20px 0;
    background: url("pics/office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-about {
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
    font-size: 18px;
}

.container-portfolio {
    position: relative;
    text-align: center;
    background: white;
    padding: 40px;
    margin-top: -100px;   
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
}

.container-skills {
    position: relative;
    text-align: center;
    background: white;
    padding: 40px;     
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
}

.image-portfolio {
    width: 100%; 
    height: 250px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.footer {
    position: relative;
    padding:30px;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    display: block;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
}

.social {
    word-spacing: 20px;
}
.social a{
    color: white;
}
.social a:hover {
    color: darkslategray;
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    .avatar {
        width:100px; 
    }
    #text-title {
        font-size: 30px;
    }
    #write-text {
        font-size: 20px;
    }
    .container-about {
        padding: 10px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 15px;
    }
}